<%- include('../../partials/header') %>

<h1>Date: </h1>

<form id="new-form" action="/workouts/" method="POST">
<input type="hidden" name="dayId" value="<%= dayId %>">
  <label>Name of Workout: </label>
    <input type="text" name="name">

  <label>Notes: </label>
    <input type="text" name="notes">
  <label>Link to Example Image</label>
    <input type="text" name="image">
  <label>Link to Example Video</label>
  <input type="text" name="video">

  <input type="submit" value="Add Workout">
  <!-- redirect to the day new workout is in -->
</form>

<%- include('../../partials/footer') %>
