<%- include('../partials/header') %>

<body id="disneyland">
  <h2>Track your workouts here! Link videos, notes, times, reps, and anything else!</h2>


  <li><a href="/days" <%- title === 'Your Home' ? 'class="active"' : '' %>>ALL DAYS</a> </li>

  
  <li><a href="/days/new" <%- title === 'Add Day' ? 'class="active"' : '' %>>ADD DAY</a> </li>
  <!-- Insert all the created days here 
    each day redirect to days/:id button on day selected
    each day edit day button on day selected
      open day and put all workouts within in edit mode
      put day name in edit mode
    each day delete day button on day selected
      delete all workouts within a day and the day schema
    new day separate button
  -->

  <%- include('../partials/footer') %>





