<%- include('./partials/header') %>

<body id="disneyland">
  <h2>Track your workouts here! Link videos, notes, times, reps, and anything else!</h2>

<button class="days"> Day 1 </button>
<button class="days"> Day 2 </button>
<button class="days"> Day 3 </button>
  <button id="newday">+ New Day</button>

  <%- include('./partials/footer') %>





