<%- include('../partials/header') %>

<!-- New Day form-->
<h2>Enter New Day</h2>
<form action="/days" method="POST">
<label>Date: </label>
<input type="date" name="date">
<input type="submit" value="Add First Workout">
</form>
<!-- redirect to new workout within 
  this new day (no empty days allowed)
  upon submit -->

<%- include('../partials/footer') %>
