<%- include('../partials/header') %>

<!-- New Day form-->
<form action=""></form>
<!-- redirect to new workout within 
  this new day (no empty days allowed)
  upon submit -->

<%- include('../partials/footer') %>
