<!-- HOMEPAGE  -->
<%- include('./partials/header') %>

<!-- <img id="login"src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fdev.to%2Frs9110%2Fgoogle-logo-with-just-html-css-3bmi&psig=AOvVaw3PVhuZpTSIFB9OduDtE8Hx&ust=1677768313188000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCPjCxpT8uv0CFQAAAAAdAAAAABAE" alt="login"> -->
  <h1>Welcome to Gettin' Gains!</h1>

  <h2>Intro text intro text</h2>
  <p>Lots of explnation There was a time when he would have embraced the change that was coming. In his youth, he sought adventure and the unknown, but that had been years ago. He wished he could go back and learn to find the excitement that came with change but it was useless. That curiosity had long left him to where he had come to loathe anything that put him out of his comfort zone.</p>

  <img id="gains" src="https://i.imgur.com/FTSjIOr.png" alt="gains">
  <a href="imgur.com/gallery/zn4owAw"></a>

  <%- include('./partials/footer') %>